{% extends 'base.html' %}
{% block title %}Update CV{% endblock title %}
{% block main_content %}
{% include 'navbar.html' %}

<section class="container">
    <div class="row justify-content-around text-center mt-5">
        <div class="col-sm-5">
            <h1>CRM CRUD</h1>
        </div>
    </div>

    <div class="row justify-content-around mt-1">
        <div class="col-sm-8">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-dark">
            </form>    
        </div>
    </div>
</section>

{% endblock main_content %}